#monkey-logo {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 599px) {
    #monkey-logo {
        visibility: hidden;
    }
  }

/* Guest user navbar buttons*/
@media only screen and (max-width: 360px) {
    #login-button {
      font-size: 12px;
      margin-right: 4px;
      width: 120px;
    }
    #create-account-link {
        font-size: 13px;
        margin-left: 10px;
    }
  }

  @media only screen and (max-width: 354px) {
    #login-button {
        font-size: 12px;
        margin-left: 4px;
        width: 110px;
      }
      #create-account-link {
          font-size: 12px;
          margin-left: 5px;
      }
  }

  @media only screen and (max-width: 333px) {
    #login-button {
        font-size: 12px;
        margin-left: 8px;
        width: 105px;
      }
      #create-account-link {
          font-size: 11px;
          margin-left: 5px;
      }
  }

  @media only screen and (max-width: 313px) {
    #login-button {
        font-size: 12px;
        margin-left: 8px;
        margin-right: 4px;
        width: 100px;
      }
      #create-account-link {
          font-size: 10px;
          margin-left: 5px;
      }
  }

/* Driver nav bar buttons*/
@media only screen and (max-width: 455px) {
    #driver-logout-link{
        font-size: 12px;
    }
  }

@media only screen and (max-width: 439px) {
    #driver-page-button {
      font-size: 12px;
    }

    #driver-profile-button {
        font-size: 12px;
    }

    #driver-logout-link{
        font-size: 12px;
    }
  }

  @media only screen and (max-width: 418px) {
    #driver-logout-link{
        font-size: 11px;
    }
  }

  @media only screen and (max-width: 397px) {
    #driver-page-button {
        font-size: 11px;
      }
    #driver-logout-link{
        font-size: 10px;
    }
  }

  @media only screen and (max-width: 377px) {
    #driver-page-button {
      font-size: 10px;
    }

    #driver-profile-button {
        font-size: 10px;
    }

    #driver-logout-link{
        font-size: 9px;
    }
  }

  @media only screen and (max-width: 357px) {
    #driver-page-button {
      font-size: 9px;
    }

    #driver-profile-button {
        font-size: 9px;
    }

    #driver-logout-link{
        font-size: 8px;
    }
  }

  @media only screen and (max-width: 337px) {
    #driver-page-button {
      font-size: 7.5px;
    }

    #driver-profile-button {
        font-size: 9px;
    }

    #driver-logout-link{
        font-size: 6px;
    }
  }

  @media only screen and (max-width: 316px) {
    #driver-page-button {
      font-size: 8px;
    }

    #driver-profile-button {
        font-size: 8px;
    }

    #driver-logout-link{
        font-size: 5px;
    }
  }

/* Restaurant Owner nav bar buttons*/
@media only screen and (max-width: 510px) {
    #restaurant-page-button {
      font-size: 12px;
      margin-left: 4px;
    }
  }

  @media only screen and (max-width: 469px) {
    #restaurant-page-button {
      font-size: 11px;
      margin-left: 4px;
    }
    #owner-logout-link {
        font-size: 11px;
        margin-left: 4px;
    }
  }

  @media only screen and (max-width: 441px) {
    #restaurant-page-button {
      font-size: 10px;
      margin-left: 4px;
    }
  }

  @media only screen and (max-width: 413px) {
    #restaurant-page-button {
      font-size: 9px;
      margin-left: 4px;
    }
  }

  @media only screen and (max-width: 388px) {
    #restaurant-page-button {
      font-size: 8px;
      margin-left: 4px;
    }
  }

  @media only screen and (max-width: 362px) {
    #restaurant-page-button {
      font-size: 7px;
      margin-left: 4px;
    }

    #owner-logo-title {
        font-size: 15px;
    }
  }

  @media only screen and (max-width: 337px) {
    #restaurant-page-button {
      font-size: 6px;
      margin-left: 4px;
    }
  }

/* Admin nav bar buttons*/
@media only screen and (max-width: 667px) {
    #big-button {
      font-size: 13px;
      margin-left: 4px;
    }
  }

@media only screen and (max-width: 457px) {
    #big-button {
        font-size: 12px;
        margin-left: 6px;
    }
    #profile-button {
        font-size: 11px;
        margin-left: 0px;
    }
    #logout-link {
        font-size: 13px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 436px) {
    #big-button {
        font-size: 11px;
        margin-left: 10px;
    }
    #logout-link {
        font-size: 9px;
    }
}

@media only screen and (max-width: 419px) {
    #big-button {
        font-size: 10px;
        margin-left: 15px;
    }
    #profile-button {
        font-size: 10px;
        margin-left: 0px;
    }
    #logout-link {
        font-size: 9px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 404px) {
    #big-button {
        font-size: 9px;
        margin-left: 15px;
    }
    #profile-button {
        font-size: 9px;
        margin-left: 0px;
    }
    #logout-link {
        font-size: 9px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 378px) {
    #big-button {
        font-size: 8px;
        margin-left: 20px;
    }
    #profile-button {
        font-size: 8px;
        margin-left: 0px;
    }
    #logout-link {
        font-size: 8px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 363px) {
    #big-button {
        font-size: 7px;
        margin-left: 25px;
    }
    #profile-button {
        font-size: 8px;
        margin-left: 0px;
    }
    #logout-link {
        font-size: 8px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 320px) {
    #big-button {
        font-size: 5px;
        margin-left: 30px;
    }
    #profile-button {
        font-size: 7px;
        margin-left: 0px;
    }
    #logout-link {
        font-size: 7px;
        margin-left: 0px;
    }

    
}